In [3]:
import matplotlib.pyplot as plt
import numpy as np
import csv
import pandas as pd

In [44]:
driver_df1 = pd.read_csv("Data/city_data.csv")
driver_df2 = pd.read_csv("Data/ride_data.csv")

combined_ride_data = pd.merge(driver_df1, driver_df2, on="city")

combined_ride_data.head(25)

,city,driver_count,type,date,fare,ride_id
0,Tammyburgh,11,Urban,2017-01-02 10:56:28,12.40,7963408790849
1,Tammyburgh,11,Urban,2017-01-02 04:28:03,18.78,2315208159060
2,Tammyburgh,11,Urban,2017-01-03 03:00:08,30.10,558639764959
3,Tammyburgh,11,Urban,2017-01-01 00:10:21,7.76,9113511454178
4,Tammyburgh,11,Urban,2017-01-02 05:22:44,22.00,4171010688543
5,Tammyburgh,11,Urban,2017-01-02 21:29:38,5.37,5531485446571
6,Tammyburgh,11,Urban,2017-01-02 23:58:17,11.68,1012442651497
7,Tammyburgh,11,Urban,2017-01-02 21:10:16,31.16,7261786411548
8,Tammyburgh,11,Urban,2017-01-02 00:43:50,10.64,9221421228793
9,Tammyburgh,11,Urban,2017-01-01 12:39:10,9.88,6250336876297
10,Tammyburgh,11,Urban,2017-01-01 14:13:26,23.97,851102797493
11,Tammyburgh,11,Urban,2017-01-01 07:25:05,32.90,3093940598123
12,Tammyburgh,11,Urban,2017-01-01 11:13:16,5.94,6301143210542
13,Tammyburgh,11,Urban,2017-01-01 13:44:35,10.27,1995784061110
14,Tammyburgh,11,Urban,2017-01-02 13:20:45,41.04,4635225467442
15,Tammyburgh,11,Urban,2017-01-01 06:49:00,27.48,5635061147330
16,Tammyburgh,11,Urban,2017-01-02 23:28:35,22.43,4240585503749
17,Tammyburgh,11,Urban,2017-01-01 11:50:03,8.40,7691252503666
18,Tammyburgh,11,Urban,2017-01-01 17:51:31,21.39,3874929768672
19,Tammyburgh,11,Urban,2017-01-01 05:28:50,37.84,8096350011706
20,Tammyburgh,11,Urban,2017-01-01 19:56:38,43.11,1746878188615
21,Tammyburgh,11,Urban,2017-01-01 06:44:03,21.27,5035612751038
22,Melissaborough,15,Urban,2017-01-01 08:55:58,19.59,2791839504576
23,Melissaborough,15,Urban,2017-01-02 18:40:34,17.73,6817245215298
24,Melissaborough,15,Urban,2017-01-02 04:37:01,20.88,3220484578919

In [65]:
grouped_data = combined_ride_data.groupby(['city'])['fare'].mean()

grouped_df = pd.DataFrame(grouped_data)
grouped_df = grouped_df.rename(columns={"city":"City", "fare":"Average Fare Price"})
grouped_df['Average Fare Price'] = grouped_df['Average Fare Price'].round(2)

grouped_df2 = grouped_df.reset_index()
grouped_df2 = grouped_df2.rename(columns={"city":"City"})

ride_df = pd.DataFrame(combined_ride_data['city'].value_counts())
ride_df2 = ride_df.reset_index()
ride_df2 = ride_df2.rename(columns={"index":"City", "city":"Total Rides"})

new_grouped_df = pd.merge(grouped_df2, ride_df2, on="City")

new_grouped_df

                   City  Average Fare Price  Total Rides
0          Adamschester               29.59            9
1            Alexisfort               27.37           33
2             Amberberg               28.62           16
3           Anthonyfurt               29.49           17
4             Boyleberg               32.40            5
5             Brianfurt               24.51           22
6         Campbellmouth               34.18            8
7         Catherinebury               27.31           29
8           Curtismouth               25.05           31
9             Davidbury               30.83           20
10         Davidsonfurt               32.08            2
11          East Amanda               28.45           21
12           East April               29.99           16
13           East James               26.55           28
14        East Jermaine               26.20           16
15   East Johnnyborough               30.32           20
16      East Karenmouth               23.78           35
17            East Rose               20.93           22
18        Elizabethland               29.86           20
19           Evansburgh               23.48           23
20        Fergusonburgh               31.91           21
21           Floresbury               20.77           25
22         Gatesborough               24.76           14
23            Hallmouth               32.34           19
24          Heatherland               31.68           14
25             Hillstad               32.70           11
26            Hoganfort               30.99           11
27            Jamesbury               26.31           30
28            Jamesland               28.53           19
29            Jillmouth               21.82           22
..                  ...                 ...          ...
96       Robertsonhaven               36.21           21
97          Russellfurt               26.91           13
98            Scottside               22.54           26
99         Sheltonhaven               22.67            5
100           Smithland               25.34           28
101          Smithville               25.42            6
102        South Angela               33.96            6
103      South Brittany               31.55            5
104     South Jacobside               45.77            9
105          South John               23.79           18
106      South Lisaport               33.55           16
107    South Mariahaven               21.85           17
108          South Mary               24.73           29
109  South Samanthafurt               28.77            7
110       South Stephen               32.12            6
111      Suzanneborough               27.13           30
112          Tammyburgh               20.72           22
113         Theresaland               25.74           26
114         Thomashaven               24.72           25
115         Turnershire               26.35           20
116   West Darrellmouth               22.37           18
117    West Kennethland               24.20           21
118      West Lanceview               22.82           18
119    West Michaelfurt               30.79           12
120          West Nancy               26.40           29
121    West Nathanville               25.59           21
122  West Robertchester               24.57           21
123         Whitneyfurt               23.10           30
124     Williamsonville               29.07           13
125       Xavierborough               26.32           11

[126 rows x 3 columns]