In [3]:
import matplotlib.pyplot as plt
import numpy as np
import csv
import pandas as pd

In [44]:
driver_df1 = pd.read_csv("Data/city_data.csv")
driver_df2 = pd.read_csv("Data/ride_data.csv")

combined_ride_data = pd.merge(driver_df1, driver_df2, on="city")

combined_ride_data.head(25)

,city,driver_count,type,date,fare,ride_id
0,Tammyburgh,11,Urban,2017-01-02 10:56:28,12.40,7963408790849
1,Tammyburgh,11,Urban,2017-01-02 04:28:03,18.78,2315208159060
2,Tammyburgh,11,Urban,2017-01-03 03:00:08,30.10,558639764959
3,Tammyburgh,11,Urban,2017-01-01 00:10:21,7.76,9113511454178
4,Tammyburgh,11,Urban,2017-01-02 05:22:44,22.00,4171010688543
5,Tammyburgh,11,Urban,2017-01-02 21:29:38,5.37,5531485446571
6,Tammyburgh,11,Urban,2017-01-02 23:58:17,11.68,1012442651497
7,Tammyburgh,11,Urban,2017-01-02 21:10:16,31.16,7261786411548
8,Tammyburgh,11,Urban,2017-01-02 00:43:50,10.64,9221421228793
9,Tammyburgh,11,Urban,2017-01-01 12:39:10,9.88,6250336876297
10,Tammyburgh,11,Urban,2017-01-01 14:13:26,23.97,851102797493
11,Tammyburgh,11,Urban,2017-01-01 07:25:05,32.90,3093940598123
12,Tammyburgh,11,Urban,2017-01-01 11:13:16,5.94,6301143210542
13,Tammyburgh,11,Urban,2017-01-01 13:44:35,10.27,1995784061110
14,Tammyburgh,11,Urban,2017-01-02 13:20:45,41.04,4635225467442
15,Tammyburgh,11,Urban,2017-01-01 06:49:00,27.48,5635061147330
16,Tammyburgh,11,Urban,2017-01-02 23:28:35,22.43,4240585503749
17,Tammyburgh,11,Urban,2017-01-01 11:50:03,8.40,7691252503666
18,Tammyburgh,11,Urban,2017-01-01 17:51:31,21.39,3874929768672
19,Tammyburgh,11,Urban,2017-01-01 05:28:50,37.84,8096350011706
20,Tammyburgh,11,Urban,2017-01-01 19:56:38,43.11,1746878188615
21,Tammyburgh,11,Urban,2017-01-01 06:44:03,21.27,5035612751038
22,Melissaborough,15,Urban,2017-01-01 08:55:58,19.59,2791839504576
23,Melissaborough,15,Urban,2017-01-02 18:40:34,17.73,6817245215298
24,Melissaborough,15,Urban,2017-01-02 04:37:01,20.88,3220484578919

In [78]:
grouped_data = combined_ride_data.groupby(['city'])['fare'].mean()

grouped_df = pd.DataFrame(grouped_data)
grouped_df = grouped_df.rename(columns={"city":"City", "fare":"Average Fare Price"})
grouped_df['Average Fare Price'] = grouped_df['Average Fare Price'].round(2)

grouped_df2 = grouped_df.reset_index()
grouped_df2 = grouped_df2.rename(columns={"city":"City"})

ride_df = pd.DataFrame(combined_ride_data['city'].value_counts())
ride_df2 = ride_df.reset_index()
ride_df2 = ride_df2.rename(columns={"index":"City", "city":"Total Rides"})

new_grouped_df = pd.merge(grouped_df2, ride_df2, on="City")

grouped_drivers = combined_ride_data.groupby(['city'])['driver_count'].mean()
drivers_df = pd.DataFrame(grouped_drivers)
drivers_df2 = drivers_df.reset_index()
drivers_df2 = drivers_df2.rename(columns={"city":"City", "driver_count":"Total Drivers"})

grouped_rides = pd.merge(new_grouped_df, drivers_df2, on="City")

city_type = combined_ride_data.groupby(['city'])['type'].first()
city_df = pd.DataFrame(city_type)
city_df2 = city_df.reset_index()
city_df2 = city_df2.rename(columns={"city":"City", "type":"City Type"})

finished_df = pd.merge(grouped_rides, city_df2, on="City")

finished_df

#grouped_rides

,City,Average Fare Price,Total Rides,Total Drivers,City Type
0,Adamschester,29.59,9,27,Suburban
1,Alexisfort,27.37,33,24,Urban
2,Amberberg,28.62,16,13,Suburban
3,Anthonyfurt,29.49,17,17,Suburban
4,Boyleberg,32.40,5,13,Suburban
5,Brianfurt,24.51,22,4,Urban
6,Campbellmouth,34.18,8,2,Rural
7,Catherinebury,27.31,29,7,Urban
8,Curtismouth,25.05,31,40,Urban
9,Davidbury,30.83,20,13,Suburban
10,Davidsonfurt,32.08,2,1,Rural
11,East Amanda,28.45,21,20,Suburban
12,East April,29.99,16,9,Suburban
13,East James,26.55,28,49,Urban
14,East Jermaine,26.20,16,29,Urban
15,East Johnnyborough,30.32,20,15,Suburban
16,East Karenmouth,23.78,35,46,Urban
17,East Rose,20.93,22,7,Urban
18,Elizabethland,29.86,20,20,Suburban
19,Evansburgh,23.48,23,44,Urban
20,Fergusonburgh,31.91,21,11,Suburban
21,Floresbury,20.77,25,14,Urban
22,Gatesborough,24.76,14,5,Suburban
23,Hallmouth,32.34,19,10,Suburban
24,Heatherland,31.68,14,17,Suburban
25,Hillstad,32.70,11,4,Suburban
26,Hoganfort,30.99,11,5,Rural
27,Jamesbury,26.31,30,41,Urban
28,Jamesland,28.53,19,22,Suburban
29,Jillmouth,21.82,22,42,Urban
...,...,...,...,...,...
96,Robertsonhaven,36.21,21,1,Suburban
97,Russellfurt,26.91,13,9,Suburban
98,Scottside,22.54,26,48,Urban
99,Sheltonhaven,22.67,5,1,Rural
100,Smithland,25.34,28,38,Urban
101,Smithville,25.42,6,8,Rural
102,South Angela,33.96,6,9,Rural
103,South Brittany,31.55,5,9,Rural
104,South Jacobside,45.77,9,7,Rural
105,South John,23.79,18,24,Urban
106,South Lisaport,33.55,16,11,Suburban
107,South Mariahaven,21.85,17,52,Urban
108,South Mary,24.73,29,20,Urban
109,South Samanthafurt,28.77,7,8,Rural
110,South Stephen,32.12,6,6,Rural
111,Suzanneborough,27.13,30,33,Urban
112,Tammyburgh,20.72,22,11,Urban
113,Theresaland,25.74,26,69,Urban
114,Thomashaven,24.72,25,60,Urban
115,Turnershire,26.35,20,23,Urban
116,West Darrellmouth,22.37,18,10,Suburban
117,West Kennethland,24.20,21,23,Urban
118,West Lanceview,22.82,18,17,Urban
119,West Michaelfurt,30.79,12,27,Suburban
120,West Nancy,26.40,29,40,Urban
121,West Nathanville,25.59,21,62,Urban
122,West Robertchester,24.57,21,8,Urban
123,Whitneyfurt,23.10,30,53,Urban
124,Williamsonville,29.07,13,3,Suburban
125,Xavierborough,26.32,11,8,Suburban