In [3]:
import matplotlib.pyplot as plt
import numpy as np
import csv
import pandas as pd

In [23]:
driver_df1 = pd.read_csv("Data/city_data.csv")
driver_df2 = pd.read_csv("Data/ride_data.csv")

combined_ride_data = pd.merge(driver_df1, driver_df2, on="city")

combined_ride_data.head()

         city  driver_count   type                 date   fare        ride_id
0  Tammyburgh            11  Urban  2017-01-02 10:56:28  12.40  7963408790849
1  Tammyburgh            11  Urban  2017-01-02 04:28:03  18.78  2315208159060
2  Tammyburgh            11  Urban  2017-01-03 03:00:08  30.10   558639764959
3  Tammyburgh            11  Urban  2017-01-01 00:10:21   7.76  9113511454178
4  Tammyburgh            11  Urban  2017-01-02 05:22:44  22.00  4171010688543

In [24]:
grouped_data = combined_ride_data.groupby(['city'])['fare'].mean()

grouped_data.head(25)

city
Adamschester          29.594444
Alexisfort            27.366970
Amberberg             28.624375
Anthonyfurt           29.491176
Boyleberg             32.396000
Brianfurt             24.506818
Campbellmouth         34.177500
Catherinebury         27.307931
Curtismouth           25.051935
Davidbury             30.834000
Davidsonfurt          32.085000
East Amanda           28.451429
East April            29.988750
East James            26.550714
East Jermaine         26.201250
East Johnnyborough    30.316000
East Karenmouth       23.778000
East Rose             20.933636
Elizabethland         29.865000
Evansburgh            23.481739
Fergusonburgh         31.905238
Floresbury            20.767200
Gatesborough          24.761429
Hallmouth             32.337895
Heatherland           31.678571
Name: fare, dtype: float64